* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

body {
    font-family: Arial, sans-serif;
    background-color: lightgreen;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.botones {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}
h1, h2 {
    margin: 0;
    padding: 10px 0;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    width: 30%;
}
button:hover {
    background-color: #45a049;
}   
table {
    width: 90%;
    margin: 20px auto;
    border: 1px solid #009238;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    scroll-behavior: auto;
    overflow: auto;
}
.tabla-scroll {
    max-height: 450px;
    overflow-y: auto;
}

table tbody tr:nth-child(odd) {
    background-color: #83e779;
}
table tbody tr:nth-child(even) {
    background-color: #c0f1c0;
}
table thead, table tfoot {
    background-color: #4CAF50;
    color: white;
}
td, th {
    border: 1px solid #009238;
    padding: 8px;
    text-align: center;
    font-size: 0.9em;
}
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 60px;
}
.modal-contenido {
    display: flex;
    flex-direction: column;
    min-height: 500px;
    align-items: center;
    justify-content: center;
}
iframe {
    background-color: #c0f1c0;
    padding: 20px;
    border: 1px solid #4b8051;
    width: 100%; 
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 85vh;
    width: 90%;
}

.modal {
    display: none; 
    position: fixed; 

    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0,0.5);  
    padding-top: 30px;
}

.modal-header {
    padding: 2px 16px;
    background-color: #4CAF50,0.5;
    color: white;
    border-radius: 7px 7px 0 0;
    display: flex;
    justify-content: end;
    align-items: center;
}

span {
    border: #4b8051;
    color: white;
    float: right;
    font-size: 28px;
}

footer {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0 15px 0;
    text-align: center;
    margin-top: auto;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
}

@media (max-width: 768px) {
    .botones {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .botones button{
        width: 75%;
    }

    table th:nth-child(1),
    table td:nth-child(1),
    table th:nth-child(2),
    table td:nth-child(2),
    table th:nth-child(7),
    table td:nth-child(7) {
        display: none;
    }
    table{
        margin-bottom: 130px;
    }
}