*{
    font-size: 16px;
}
h1{
    font-size: 2em;
    color: darkblue;
    text-align: center;
    background-color: salmon;
}
p{
    text-align: left;
    font-size: 1.5em;
    color: green;
    font-style: italic;
    border-top-style: solid;
    border-bottom-style:solid;
    border-width: thin;
    border-color: crimson;

}
@media (min-width: 600px) and (max-width:1280px) {
    h1{
        font-size: 1.5em;
        color: darkblue;
        background-color: yellowgreen;
    }
    p{
        text-align: center;
        font-size: 1em;
        color: crimson;
        border-color: slateblue;
    }
}

@media (min-width: 0px) and (max-width:600px) {
    h1{
        font-size: 1em;
        color: gold;
        background-color: peru;
    }
    p{
        text-align: center;
        font-size: 0.5em;
        color: chocolate;
        border-color: cyan;
    }
}