*{
    font-size: 12px;
}
h1{
    font-size: 3em;
    color: salmon;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
p{
    text-align: left;
    font-size: 2em;
    color: white;
    font-style: italic;
    text-shadow: 1px 1px 1px black;
}
div{
    height: 60vh;

}
#imagendefondo{
    background-image: url('./pxfuel.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 50%;
    overflow: scroll;
    padding: 1%;
}
.contenedor{
    margin: auto;
}
